
:root{
  --black: black;
  --white: #fff;
  --shadow-colo: rgba(227, 227, 227, 0.75);
}

*{
  font-family:'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif'
}


body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

